*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;

}

html{

    --black: #0D114F;
    --white: #FAFAFA;
    --red:#E83F5B;
    --lightblue:#E0ECFF;
    --blue:#3485FF;
    --background: #FBFCFF;
    --overlay:#040911;
    --icons-details: #A5B0C1;

    --graydark:#4D5E77;
    --grayblue:#4D5E77;
    --graylight:#E5EAF1;
    --graymedium:#eaecf2;


    --hoverblue:#5699FF;
    --hoverred:#EA4B65;

    /*( REM serve pra subistituir o px: 1rem = 16px) = 100%*/
    /*faz regra de tres 16px -100
                        10px - x
    */
    font-size: 65.5% /* = 10px */
    /* agora pra descobrir os rem é so dividir o pixel por rem 28px / 10 = 1.8rem*/
}
body{

    height: 100vh; /*vh  = view heigh  vai do inicio da tela ate o final o mesmo com o vw = view width*/
    background-color: var(--background);
    display: flex;
}
body,button,input,textarea{
                          /*16 / 10 */                  
        font-size: clamp(14px, 1.6rem, 2vw);
                    /*intervalo de tamanho(diminui ate 14px, padrao da letra é 16px, e no maior tamanho*/
        font-family: 'Open Sans', sans-serif;
        /*font-family: 'Poppins', sans-serif;*/           
}
.content{

    width: 100%;
    margin: 0 auto
}


.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
    
}

/*-----------------INPUT--and--BUTTONS----- */
input ,button, .button{

    border-radius: .8em;
    height: 5rem;

}
button, .button{

    font-family: 'Poppins';
    font-weight: 500;
    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--blue);
    color: var(--white);

    transition: filter .2s;

    cursor: pointer;

}
button:hover,  .button:hover{

    filter: brightness(1.2);
}
button > img,
.button > img{

    margin-right: 1rem;
    width: 2rem;
}
button.outlined,
.button.outlined{

    background: var(--white);
    color: var(--blue);
    border: .2rem solid var(--blue);

}
button.red,
.button.red{
    background: var(--red);
    color: var(--white);

}
button.gray,
.button.gray{
    background: var(--graylight);
    color: var(--graydark);
}

/*HEADER ****/

.content header{

    width: 80%;
    margin: 3.5rem auto;
}
.content header img{
    width: 16.7rem;
   
}