
            <section>
                <h2>Crie sua propria sala</h2>
                <form action="/create-room" method="POST">
                    <label class="sr-only" for="room-pass">Insira uma Senha</label>
                    <input type="password" id="room-pass" name="password" placeholder="Insira uma Senha">
                    <button class="button">
                        <img  src="./images/users-white.svg" style="color:white;" alt="Entrar na sala">    
                        Criar Sala
                    </button>
                </form>
            </section>
       